.factorypath
*.iml
.DS_Store
.classpath
.idea/
.project
.settings
.tern-project
.terraform
.vscode
nb-configuration.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target
terraform.tfstate*
